<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>O Macaco é {{macaco.name}}</title>
    <style>
        h2 span {
            color: #EB007D
        }
    </style>
</head>

<body>
    <h1>Este é o meu Macaco do MongoDB:</h1>
    <p>
        {{macaco.id}}: {{macaco.name}} - {{macaco.description}} - {{macaco.emoji}} - <a href="#">Editar</a> - <a
            href="#">Deletar</a><br>
    </p>
</body>

</html>